@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Oxygen:wght@300;400;700&display=swap');


*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: 'Noto Sans';
  background-color: #fbfbfb;
  font-size: 16px;
}

a {
  text-decoration: none;
}